.featured_img {
    max-width:100%;
    height:auto;
    padding-left: 100px;
}

.jumbotron {
    background-color: black
}

.btn {
    background-color:antiquewhite;

}

.jumbotron a{
    color:black 
}

.jumbotron h1{
    color: antiquewhite
}

body {
    background-color: lightsalmon;
    color: white;    
}

#mars-news h2, h4, p {
    text-align: center;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}